<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3bb14eca3e.js" crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <div id="wrapper">
        <h1>To Do <%= title %></h1>
        <form action="/createNewTask" method="post" class="toDoForm">
            <div id="jobDescription">
                <h2>Enter Description</h2>
                <textarea name="description" id="jobDescriptionText" cols="80" rows="5" placeholder="Enter the description of what you want to do?" required></textarea>
            </div>
            <div id="categories">
                <input type="radio" name="type" value="work" id="work"> 
                <label for="work">Work</label>

                <input type="radio" name="type" value="personal" id="personal">
                <label for="personal">Personal</label>

                <input type="radio" name="type" value="chores" id="chores">
                <label for="chores">Chores</label>

                <input type="radio" name="type" value="other" id="other">
                <label for="other">Other</label>
            </div>
    
            <div id="dueDateContainer">
                Due Date
                <input type="date" name="date" id="dueDate" required>
            </div>
            <div id="controlBtns">
                <button type="submit"><i class="fas fa-plus"></i>Create Task</button>
            </div>
        </form>

    </div>
    <script src="../assets/js/home.js"></script>
</body>
</html>